In [2]:
#Pandas 
# está basado en numpy; sirve para explorar, analizar, limpiar....
#la ventaja de los dataframes vs. numpy es que pueden tener elementos de distintos tipos
# las series son homogeneas y los dataframe son hetereogeneos

In [3]:
import pandas as pd

In [4]:
s=pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
s = pd.Series({'math':10, 'leng':7, 'art': 2}) #no habitual
s

math    10
leng     7
art      2
dtype: int64

In [6]:
print(s.size)
print(s.index)
print(s.dtype)

3
Index(['math', 'leng', 'art'], dtype='object')
int64

In [7]:
print(s['math'])

10

In [8]:
print(s[0])

10

In [9]:
print(s[:2])

math    10
leng     7
dtype: int64

In [10]:
print(s[['leng','art']])

leng    7
art     2
dtype: int64

In [11]:
s = pd.Series([1, 2, 2, 3, 4, 2, 5, 6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

8
2    3
1    1
3    1
4    1
5    1
6    1
dtype: int64
2    0.375
1    0.125
3    0.125
4    0.125
5    0.125
6    0.125
dtype: float64
1
6
2.982142857142857
1.7268882005337975

In [12]:
print(s.describe())

count    8.000000
mean     3.125000
std      1.726888
min      1.000000
25%      2.000000
50%      2.500000
75%      4.250000
max      6.000000
dtype: float64

In [13]:
print(s.sum())
print(s.cumsum())

25
0     1
1     3
2     5
3     8
4    12
5    14
6    19
7    25
dtype: int64

In [14]:
#Operaciones

In [15]:
s*2

0     2
1     4
2     4
3     6
4     8
5     4
6    10
7    12
dtype: int64

In [16]:
s%2

0    1
1    0
2    0
3    1
4    0
5    0
6    1
7    0
dtype: int64

In [17]:
st = pd.Series(['a', 'b', 'c'])
st*4

0    aaaa
1    bbbb
2    cccc
dtype: object

In [18]:
import math
s.apply(math.log)

0    0.000000
1    0.693147
2    0.693147
3    1.098612
4    1.386294
5    0.693147
6    1.609438
7    1.791759
dtype: float64

In [19]:
import numpy as np
s.apply(np.log)

0    0.000000
1    0.693147
2    0.693147
3    1.098612
4    1.386294
5    0.693147
6    1.609438
7    1.791759
dtype: float64

In [20]:
s.apply(np.log)

0    0.000000
1    0.693147
2    0.693147
3    1.098612
4    1.386294
5    0.693147
6    1.609438
7    1.791759
dtype: float64

In [21]:
st.apply(str.upper)

0    A
1    B
2    C
dtype: object

In [22]:
s.apply(lambda x:x*2+3)

0     5
1     7
2     7
3     9
4    11
5     7
6    13
7    15
dtype: int64

In [23]:
#Filtrar

In [24]:
print(s[s>2])

3    3
4    4
6    5
7    6
dtype: int64

In [25]:
s.sort_values()

0    1
1    2
2    2
5    2
3    3
4    4
6    5
7    6
dtype: int64

In [26]:
s.sort_index()

0    1
1    2
2    2
3    3
4    4
5    2
6    5
7    6
dtype: int64

In [27]:
s.sort_index(ascending=False)

7    6
6    5
5    2
4    4
3    3
2    2
1    2
0    1
dtype: int64

In [28]:
sx = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(sx)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [29]:
sx.dropna()

0    a
1    b
3    c
5    d
dtype: object

In [30]:
#máscaras
s

0    1
1    2
2    2
3    3
4    4
5    2
6    5
7    6
dtype: int64

In [31]:
print(s[s>2])

3    3
4    4
6    5
7    6
dtype: int64

In [33]:
mask=s>2 # máscara es un array que se pasa a la serie y le "dice" lo que tiene que extraer; 
print(mask) #la condición de la máscara se aplica a toda a la serie y no por elemento.
print(s[mask]) #las máscara no crea una nueva serie, hay que crear una nueva;

0    False
1    False
2    False
3     True
4     True
5    False
6     True
7     True
dtype: bool
3    3
4    4
6    5
7    6
dtype: int64

In [ ]:
#pandas serie.pd.isin